
{deps, [
	{goldrush, "0.1.6"},
	{lager, "2.1.1"}
]}.


{profiles,[
	{dev,[
		 {deps, [
				{sync, "0.1.3"}
		]},
		{erl_opts,
			[
				debug_info,
				{parse_transform, lager_transform}
			]
		},
		{relx, [{release, {xmlrpcerl, "0.1.0"},
				[xmlrpcerl]},
				{vm_args, "config/vm.args"},
				{sys_config, "config/sys.config"},
				{dev_mode, true},
				{include_erts, true},
				{extended_start_script, true}]}
	]},
	{prod,[
		% {deps, [
		 		% {sync, ".*", {git, "git://github.com/rustyio/sync.git", {ref, "ae7dbd4e6e2c08d77d96fc4c2bc2b6a3b266492b"}}}
		 		% {sync, "0.1.3"}
		% ]},
		{erl_opts,
			[
				{parse_transform, lager_transform}
			]
		},
		{relx, [{release, {xmlrpcerl, "0.1.0"},
				[xmlrpcerl]},
				{vm_args, "config/vm.args"},
				{sys_config, "config/sys.config"},
				{dev_mode, false},
				{include_erts, true},
				{extended_start_script, false}]}
	]}
]}.
