[
	{kernel,[
		{inet_dist_listen_min, 9000},
		{inet_dist_listen_max,9100}
	]},

	{lager, [
		{colored, true},
		{crash_log, "log/crash.log"},
		{error_logger_hwm, 50},
		{handlers, [
			{lager_console_backend, [debug,
				{lager_default_formatter,
					[
						"\e[0;37m", time,
						"\e[0;35m", pid,
						"\e[0;36m", {module, [module, "/", function, "/", line], ""}, "\e[0m",
						color," [",severity,"] ", message,"\e[0m\n"]
				}
			]},
			{lager_file_backend, [
				{file, "log/xmlrpcerl.log"},
				{level, debug},
				{formatter, lager_default_formatter},
				{formatter_config, [
					date, " ", time," ",pid, " ", module, "/", function, "/", line,
					"\n [",severity,"] ", message, "\n"]},
				{size, 10485760},
				{date, "$D0"},
				{count, 5}
			]}
		]}
	]},

	{xmlrpcerl, [
		{server, "http://127.0.0.1:8008/RPC"}
	]}
].
